/* Formatação padrão */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #f3f3f3;
}

/* menu */
#navegacao {
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    height: 45px;
}
/* centralizando conteudo do menu */
#area {
    width: 720px;
    margin: 0 auto;
}

/* cor do logo */
.verde {
    color: #b9c941;
}